 @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500;700&family=Roboto+Slab&display=swap');

/* HIDE RADIO */
[type='radio'] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type='radio'] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type='radio']:checked + img {
    outline: 2px solid #000;
}

label {
    margin-left: 10px;
}

.mood-tracker {
    display: inline-block;
    margin-right: 5px;
}

.card-header {
    font-family: "Fredoka";
    font-size: 30px;
    font-weight: 500;
    background-color: #d2d4d6;
    border-width:2px;
    border-style:solid;
    border-bottom: transparent;
    border-color:black;

}

.card-body {

    border-width:2px;
    border-style:solid;
    border-top: transparent;
    border-color:black;

}

.page-title {
    font-family: "Fredoka";
    font-size: 50px;
    font-weight: 700;
}
p {
    font-family: "Fredoka";
    font-weight: 300;
    font-size: 20px;
}

body {
    background: radial-gradient(#fffb00, #ffae00, #ff8c00, #ce1800);
}

.rec-button {
    font-family: "Fredoka";
    font-weight: 400;
    font-size: 20px;
    margin-left: 20px;
    background-color: #d2d4d6;
    color: #000;
    display: block;
    width: 100%;
    padding: 0px 0px;
    cursor: pointer;
    text-align: center;
    border-color: #000;
    border-width: 5px;
}

.rec-text {
    display: inline-block;
    font-family: "Fredoka";
    font-weight: 300;
    font-size: 17px;
    margin-left: 30px;
    color: #000;
    display: block;
    width: 100%;
    padding: 3px 3px;
    text-align: left;
    border-color: #000;
    border-width: 2px;
}