/* HIDE RADIO */
[type='radio'] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type='radio'] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type='radio']:checked + img {
    outline: 2px solid #000;
}

label {
    margin-left: 10px;
}


.body-grindset-theme {
    background-image: url('../images/themes/grindset.jpg');
    background-size: cover; /* This ensures your image covers the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.body-minimum-theme {
    background-image: url('../images/themes/bareminimum.jpg');
    background-size: cover; /* This ensures your image covers the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.body-selfcare-theme {
    background-image: url('../images/themes/selfcare.jpg');
    background-size: cover; /* This ensures your image covers the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}